.editormd-preview-container table thead tr, .editormd-html-preview table thead tr {
    background-color: #3c8dbc;
    color: #ffffff;
    letter-spacing: 2px;
}
.btn-default:hover, .btn-default:active, .btn-default.hover {
    background-color: rgba(28,28,28,0.93) !important;
    color: #ffffff !important;
}