.editormd-preview-container table thead tr, .editormd-html-preview table thead tr {
    background-color: #3c8dbc;
    color: #ffffff;
    letter-spacing: 2px;
}
.btn-default:hover, .btn-default:active, .btn-default.hover {
    background-color: rgba(28,28,28,0.93) !important;
    color: #ffffff !important;
}

body {
    background-color: #fafafa;
}

#header {
    position:fixed;
    height: 50px;
    display:block;
    width: 100%;
    z-index:9;
    text-align:center;
    color: #f2f2f2;
    top:0;
}

#fullpage, #oneColumn {
    margin-top: 60px;
}

#footer {
    margin-top: 200px;
}

.section{
    text-align:center;
    background-size: cover;
    padding: 20px;
}
.slide{
    background-size: cover;
}

#fp-nav ul li .fp-tooltip {
    color: #ff3728;
}

#fullpage .flashAlertMsg {
    position: fixed;
    bottom: 0;
    z-index: 10;
    margin: 5px;
}
#fullpage .flashAlertMsg button.close {
    margin-left: 15px;
}

.section .content {
    background-color: rgba(255,255,255,0.6);
    padding: 20px;
}
#fp-nav { bottom: 5%; top: auto; background-color: rgba(255,255,255,0.4); border-radius: 6px; }

.navbar,
.navbar-default {
    border: 0;
    border-radius: 0;
    background-color: rgba(255,255,255,0.5);
    border-bottom: 1px solid #236100;
}

.navbar .navbar-brand,
.navbar-default .navbar-brand {
    font: italic bold 24px/36px arial,sans-serif;
    color: #236100;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #a90070;
}



.navbar-default .navbar-nav > li > a {
    color: #236100;
    font-size: 14px;
    font-family: SimSun,Serif;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #a90070;
    border: 1px solid #236100;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { color: #a90070; }
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover { border: 1px solid #a90070; }
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #a90070;
}


.sidebar-menu .fa-angle-left:before { content: "\f105"; }
.sidebar-menu .active .fa-angle-left:before { content: "\f107"; }

#header .affix {
    width: 100%;
    background-color: #fff;
}